/* importing my personal CSS rules to 'reset' the browsers default styling */
@import url('./reset.css');

/* Creating custom variables */
:root {
  /* Colors */
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
  padding: 4.625rem 1.5rem 5rem;
  font-size: 0.8125rem; /*13px*/
  font-family: var(--default-page-font);
}

#content {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px var(--dark-blue);
}

/******** HERO SECTION **********/
.hero__content {
  padding: 2rem 2rem 0;
  margin-bottom: 2rem;
}

.hero__tagline {
  font-size: 1rem;
}

/******** PROFILE SECTION **********/
.profile {
  border: 1px solid black;
  padding: 20px 32px;
  display: flex;
  align-items: center;
}

.profile__content-wrap {
  /* border: 1px solid blue; */
}

.content__info-wrap {
  display: flex;
}

.content__info-sub-wrap {
  /* border: 1px solid purple; */
}

.content__info__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.content__info__name {
  color: #48556a;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.122px;
}

.content__info__date {
  color: #9daec2;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.122px;
}

.btn__share {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.content__social-links-wrap {
  display: flex;
  display: none;
  gap: 21px;
  background: lightcoral;
  padding: 22px 0px 22px 32px;
}
