/* importing my personal CSS rules to 'reset' the browsers default styling */
@import url('./reset.css');

/* Creating custom variables */
:root {
  /* Colors */
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
  padding: 4.625rem 1.5rem 5rem;
  font-family: var(--default-page-font);
}

#content {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px var(--dark-blue);
}

/******** HERO SECTION **********/
.hero__content {
  padding: 2rem 2rem 0;
  margin-bottom: 2rem;
}

.hero__tagline {
  font-size: 1rem;
}

/******** PROFILE SECTION **********/
.profile {
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile__content-wrap {
  width: 100%;
}

.content__info-wrap {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  /* padding-bottom: 1.25rem; */
}

.content__info__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.content__info-sub-wrap {
  font-family: 'Manrope', sans-serif;
  font-size: 0.8125rem; /*13px*/
  line-height: 20px;
  letter-spacing: 0.122px;
}

.content__info__name {
  color: #48556a;
  font-size: 0.8125rem; /*13px*/
  font-weight: 700;
}

.content__info__date {
  color: #9daec2;
  font-weight: 500;
}

.content__social-links-wrap {
  display: flex;
  gap: 21px;
  border-bottom-left-radius: 10px;
  background: var(--dark-gray-blue);
  padding: 22px 0px 22px 32px;
}

.social-links__text {
  color: #9daec2;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 5px;
}

.content__btn-wrap {
  padding: 1rem 2rem 1rem 1rem;
  border-bottom-right-radius: 10px;
}

.btn__share {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* utility class when clicked */
.display-toggle {
  display: none;
}

.dark {
  background-color: var(--dark-gray-blue);
}

.dark-btn {
  background-color: hsl(214, 17%, 51%);
}

path {
  fill: white;
}
