:root {
    --clr-ltgreyblue: hsl(210, 46%, 95%);
    --clr-greyblue: hsl(212, 23%, 69%);
    --clr-desatdrkblue: hsl(214, 17%, 51%);
    --clr-drkgreyblue: hsl(217, 19%, 35%);

    --ff-primary: "Manrope", sans-serif;
}

/* Box-Sizing Rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Removing default margin and padding */
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

/* Make images easier to work with */
img {
    /* max-width: 100%; */
    display: block;
}

/* Mobile Layout */
body {
    background-color: var(--clr-ltgreyblue);
    font-family: var(--ff-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    max-width: 20.5rem; /*328px*/
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
}

.preview-image img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    object-position: 0% 25%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.preview-description {
    background-color: white;
    padding: 2rem 2rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.preview-description h4 {
    color: var(--clr-drkgreyblue);
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.preview-description p {
    font-size: 0.8125rem;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: var(--clr-desatdrkblue);
    font-weight: 500;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 2.5rem;
    border-radius: 50%;
}

/* DESKTOP LAYOUT */
/*800px*/
@media (min-width: 50rem) {
    #container {
        min-width: 46em; /*736px*/
        flex-direction: row;
    }

    .preview-image img {
        width: 285px;
        height: 280px;
        object-fit: cover;
        object-position: 0% 0%;
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .preview-description {
        max-width: 22rem;
        border-radius: 0 0.5rem 0.5rem 0;
        flex: 2;
    }
}
